body {
  font-family:Arial,sans-serif;
  background-color:#f2f2f2;
  margin:0;
  padding:0
  }
  
  .container {
  max-width:600px;
  margin:0 auto;
  padding:20px;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center
  }
  
  #instructions {
  text-align:center;
  margin:0 auto 20px;
  max-width:600px
  }
  
  h1 {
  text-align:center
  }
  
  #quiz-page {
  display:none
  }
  
  #start {
  display:block;
  margin:20px auto;
  padding:10px 20px;
  font-size:18px;
  background-color:blue;
  color:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  cursor:pointer
  }
  
  #view-highscores {
  position:absolute;
  top:10px;
  left:10px;
  border:1px solid blue;
  color:blue;
  background-color:transparent;
  padding:8px 16px;
  font-size:16px;
  cursor:pointer
  }
  
  #timer {
  position:absolute;
  top:auto;
  right: 5px;
  font-size:18px;
  text-align:right
  }
  
  #start-timer,#quiz-timer {
  position:absolute;
  top:10px;
  right:0;
  font-size:18px;
  text-align:right
  }
  
  #question {
  margin:20px 0;
  text-align:center;
  font-size:24px;
  font-weight:700
  }
  
  #choices {
  display:flex;
  flex-direction:column;
  align-items:center
  }
  
  #choices button {
  width:200px;
  margin-bottom:10px;
  padding:8px 16px;
  font-size:16px;
  background-color:blue;
  color:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  cursor:pointer
  }
  
  .button {
  display:block;
  margin:20px auto;
  padding:10px 20px;
  font-size:18px;
  background-color:blue;
  color:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  cursor:pointer
  }
  
  #submit-score {
  display:block;
  margin:20px auto;
  padding:10px 20px;
  font-size:18px;
  background-color:blue;
  color:#fff;
  border:1px solid #ccc;
  border-radius:5px;
  cursor:pointer
  }
  
  .feedback {
    font-weight: 700;
    margin-bottom: 10px;
    position: relative;
    color: gray;
    text-align: left; /* Align the feedback on the left side */
  }
  
  .feedback::before {
    content: "";
  }
  
  .feedback.correct::after,
  .feedback.wrong::after {
  display: none; /* Remove the line below the feedback */
}

  .correct-feedback,
  .wrong-feedback {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  .correct-feedback::before,
  .wrong-feedback::before {
    content: attr(data-feedback);
    position: relative;
    top: 0; /* Adjust the vertical position of the feedback */
    left: 0;
    color: gray;
    font-size: 14px;
    text-align: left; /* Align the feedback on the left side */
  }

  #highscore-form,#highscore-list {
  text-align:center
  }
  
  #initials {
  margin-right:10px;
  padding:5px;
  font-size:16px
  }
  
  #highscore-list div {
  margin-bottom:10px;
  font-size:16px
  }
  
  #view-highscores {
  position:absolute;
  top: -10px;
  left: 5px;
  }